@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$--weather-details-font-2: 1.25rem;
$--weather-details-weight-2: 300;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    border: 1px solid #000;
    height: 100vh;
    width: 100%;
}

/* Header Section */

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 2rem 2.5rem;
    border: 1px solid #000;

    .header-left {
        display: flex;
        gap: 2rem;
        align-items: center;
        border: 1px solid #000;
    }

    .weather-title-app {
        font-size: 1.25rem;
        font-weight: 400;
    }

    .search-container {
        display: flex;
        gap: none;
    }   

    .weather-search {
        height: 2.5rem;
        width: 20rem;
    }

    .search-container > button {
        font-family: Poppins, Arial, Helvetica, sans-serif;
        height: 2.5rem;
    }

    .search-button {
        font-family: Poppins, Arial, Helvetica, sans-serif;
        font-size: 1.1rem;
        font-weight: 400;
        width: 6rem;
    }
}

/* Main Section */

main {

    .top-headline-details {
        border: 1px solid #000;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .headline-forecast {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-forecast {
        border: 1px solid #000;
    }

    .city-forecast {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .city-location {
        font-size: 2rem;
        font-weight: 350;
    }

    .current-weather-details {
        display: flex;
        gap: 2rem;
    }

    .current-weather-details div {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .current-temperature {
        font-size: 3rem;
        font-weight: 200;
    }

    .current-details {
        font-size: $--weather-details-font-2;
        font-weight: $--weather-details-weight-2;
    }

}