@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Matangi:wght@300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Matangi';
}

:root {
    --header-height: 5rem;
}

/* Body Section */

body {
    font-family: 'Matangi';
    font-size: 62.5%;
    min-height: 100vh;
    min-width: 100%;
    color: #fff;
    text-shadow: #000 1px 4px 4px;
}

/* Container Section */

#container {
    min-height: 100vh;
    background: url('./weather_background/partly_cloudy.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
}

/* Header Section */

#header_section {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    padding: 0 2rem;
    opacity: .8;
}

#logo {
    font-weight: 500;
}

.weather_search_container {
    display: flex;
}

.weather_search_input {
    height: 1.85rem;
    width: 18rem;
}

.weather_search_button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .95rem;
    font-weight: 600;
    height: 1.85rem;
    min-width: 6rem;
    letter-spacing: .1rem;
}

/* Main Section */

#primary_weather_content {
    display: flex;
    justify-content: space-between;
    margin: 5rem 2rem 2rem 2rem;
    gap: 2.5rem;
}

#primary_second_content {
    border: 1px solid #000;
    background-color: red;
}

#primary_weather_column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#primary_first_content {
    display: flex;
    gap: 8rem;
}

#secondary_weather_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
}

#current_location {
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: .3rem;
}

#current_temperature {
    display: flex;
    font-size: 1.75rem;
    font-weight: 500;
    gap: .5rem;
    align-items: center;
}

#current_weather_conditions {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: .2rem;;
}

#current_feels_like_temperature {
    font-size: 1.5rem;
    font-weight: 400;
}

#current_day_temperature_high_low, #sunrise_sunset {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 400;
    gap: 1.25rem;
}

#current_day_time {
    font-size: 1.5rem;
    font-weight: 400;
}

#current_humidity {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: .1rem;
}

#wind_speed {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: .1rem;
}

#uv_index {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: .1rem;
}

#sunrise_sunset,
#visibility {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: .1rem;
}

.weather_section_title {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: .1rem;
}

#primary_weather_hourly_forecast {
    border: 1px solid #000;
    display: flex;
    padding: 2rem 2rem 2rem 2rem;
}

#weather_hourly_container {
    display: flex;
    gap: 1rem;
}

.weather_hourly_card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Footer Section */

footer {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    min-width: 100%;
    height: 3rem;
    opacity: .8;
}

footer p {
    font-size: .85rem;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: .1rem;
}